<%
  user ||= nil
  discovery = (element.discovered_by == user)
  classes ||= ""
  classes << (discovery ? " border-transparent bg-rainbow bg-[length:2000%_100%] bg-pan-gradient" : " border-gray-400 bg-white")
  id = "element_#{element.id}"
%>
<div
  id="<%= id %>"
  class="flex justify-center rounded-lg border text-nowrap whitespace-nowrap overflow-clip cursor-pointer <%= classes %>"
  title="<%= element.description %>"
  >
  <%= link_to element, data: { turbo: false } do %>
    <div class="p-2 bg-white">
      <span class="font-emoji"><%= element.icon %></span>
      <span class="capitalize"><%= element.name %></span>
    </div>
  <% end %>
</div>
