<div class="flex flex-col justify-start items-center max-h-screen grow">
  <div class="hidden lg:flex items-center justify-center w-full mx-4 mt-8">
    <%= render partial: "shared/nav" %>
  </div>
  <div class="flex lg:hidden items-center justify-center absolute top-2 right-2 z-10">
    <%= render partial: "shared/nav_mobile" %>
  </div>
  <div class="flex flex-col max-w-screen-lg w-full max-h-screen lg:max-h-[800px] h-full grow lg:rounded-lg lg:shadow-lg overflow-auto lg:m-4 lg:mt-2">
    <div id="dropzone" class="relative flex flex-col grow bg-gray-200 h-full">
      <h1 id="title" class="text-2xl p-2 select-none">Craftology</h1>
      <div id="objectives" class="absolute top-2 right-14 lg:right-2">
        <details open class="bg-white rounded p-2 shadow-lg">
          <summary class="select-none cursor-pointer font-bold">
            Current Objective
          </summary>
          <ol class="list-inside list-decimal space-y-2">
            <li>Find <span id="emoji-target" class="p-1 border border-gray-400 bg-white rounded"></span></li>
            <li>Craft <%= render partial: "elements/icon", locals: { id: "word-target", classes: "inline" } %></li>
          </ol>
          <button class="mt-2 underline text-sm" onclick="resetChallenge()">New Objective</button>
        </details>
      </div>
      <div id="playspace" class="p-2 flex items-start justify-start flex-wrap gap-2 overflow-auto grow shrink basis-0 content-start min-h-24">
      </div>
    </div>
    <div id="trash" class="relative flex flex-col justify-between grow basis-2/3 pb-8 lg:pb-2 sm:grow-0 sm:basis-4/5 px-2 pt-2 bg-white max-h-96">
      <div class="overflow-auto">
        <div id="inventory" class="flex sm:flex-row flex-wrap items-start justify-start gap-2">
        </div>
      </div>
      <div class="relative flex items-center justify-center pt-2">
        <input id="search" type="text" class="w-full rounded" placeholder="Filter elements">
        <span id="clear-search" class="absolute right-2 cursor-pointer" title="Clear filter">
          <svg class="w-6 h-6 text-gray-600" data-slot="icon" aria-hidden="true" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </span>
      </div>
    </div>
  </div>
</div>

<script type="module">
  import {Craftology} from "/scripts/game.js"
  let playspace = document.getElementById("playspace")
  let inventory = document.getElementById("inventory")
  let search = document.getElementById("search")
  let clearSearch = document.getElementById("clear-search")
  let trash = document.getElementById("trash")
  let dropzone = document.getElementById("dropzone")
  let elements = <%== @start %>

  let emojiIcon = document.getElementById("emoji-target")
  let wordIcon = document.getElementById("word-target")

  let game = new Craftology({
    playspace: playspace, library: inventory,
    trash: trash, elements: elements, search: search,
    dropzone: dropzone, clearSearch: clearSearch, save: 'craftology-challenge',
    metadata: {emoji: '<%= @emoji_target.icon[0] %>', word: {icon: '<%= @word_target.icon[0] %>', name: '<%= @word_target.name %>'}}
  })

  emojiIcon.innerText = game.elements.metadata.emoji
  wordIcon.querySelector('.element-icon').innerText = game.elements.metadata.word.icon
  wordIcon.querySelector('.element-name').innerText = game.elements.metadata.word.name
</script>
<script>
  function resetChallenge() {
    localStorage.removeItem('craftology-challenge')
    window.location.reload()
  }
</script>