<%
  owner = (current_user == @user)
%>
<div class="flex flex-col grow gap-2 items-center justify-start py-8 px-2">
  <%= render partial: "shared/nav" %>
  <div class="max-w-screen-lg min-h-64 w-full bg-white shadow-lg rounded-lg p-4">
    <h1 class="text-3xl sm:text-5xl"><%= @user.name %></h1>
    <div id="discoveries" class="mt-2">
      <h2 class="text-xl sm:text-3xl">Discovered Elements</h2>
      <p>
        Elements <%= owner ? "you" : @user.name %> discovered (<%= @user.discovered_elements.count %>).
        Rainbow elements are first discoveries.
      </p>
      <hr class="my-2">
      <div data-controller="pagy-initializer" class="mt-2">
        <%== pagy_nav_js(@pagy) %>
        <noscript><%== pagy_nav(@pagy) %></noscript>
      </div>
      <div class="flex flex-wrap gap-2 mt-2">
        <% @discoveries.each do |element| %>
          <%= render partial: "elements/element", locals: { element: element, user: @user } %>
        <% end %>
      </div>
    </div>
  </div>
</div>