<%
  owner = (current_user == @user)
%>
<div class="flex flex-col grow gap-2 items-center justify-start py-8 px-2">
  <%= render partial: "shared/nav" %>
  <div class="max-w-screen-lg min-h-64 w-full bg-white shadow-lg rounded-lg p-4">
    <h1 class="text-3xl sm:text-5xl"><%= @user.name %></h1>
    <div id="discoveries" class="mt-2">
      <h2 class="text-xl sm:text-3xl">Discovered Elements</h2>
      <p>
        Elements <%= owner ? "you" : @user.name %> discovered (<%= @user.discovered_elements.count %>).
        Rainbow elements are first discoveries.
      </p>
      <hr class="my-2">
      <%= form_with url: profile_path(@user), method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "elements" } do |form| %>
        <div class="relative flex items-center justify-center max-w-lg">
          <%= form.text_field :filter, value: params[:filter], placeholder: "Search discoveries", class: "rounded w-full", data: { action: "input->search-form#search", search_form_target: "input" } %>
          <span class="absolute right-2 cursor-pointer" title="Clear filter" data-action="click->search-form#clear">
            <svg class="w-6 h-6 text-gray-600" data-slot="icon" aria-hidden="true" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </div>
      <% end %>
      <%= turbo_frame_tag "elements" do %>
        <div data-controller="pagy-initializer" class="mt-2">
          <%== pagy_nav_js(@pagy) %>
          <noscript><%== pagy_nav(@pagy) %></noscript>
        </div>
        <div class="flex flex-wrap gap-2 mt-2">
          <% @discoveries.each do |element| %>
            <%= render partial: "elements/element", locals: { element: element, user: @user, current_user: current_user } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>