<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Craftology</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Color+Emoji">

    <%= javascript_importmap_tags %>
    <%= yield(:scripts) if content_for?(:scripts) %>
  </head>

  <body class="h-full">
    <main class="flex flex-col h-full">
      <% render partial: "shared/flash" %>

      <%= yield %>
    </main>
  </body>
</html>
